.stationeryBicycle13caxsmpnIcon {
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.stationeryBicycle13caxsmpnWrapper {
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) 0 0;
  box-sizing: border-box;
}
.o1ZeY3bpngIcon {
  height: 43px;
  width: 45px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.outputLink {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.heading4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 2px;
  line-height: 32px;
  font-weight: 400;
  font-family: inherit;
}
.heading4CardioExercisesWrapper,
.inputLink {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading4CardioExercisesWrapper {
  flex-direction: row;
  padding: 0 var(--padding-6xs) 0 var(--padding-5xs-5);
}
.inputLink {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-99xl);
}
.projectServingThe,
.showedSchoolRoasted {
  margin: 0;
}
.buttonRead,
.projectServingTheContainer {
  position: relative;
  line-height: 28px;
}
.buttonRead {
  flex: 1;
  font-weight: 600;
  display: inline-block;
  min-width: 77.8px;
}
.buttonReadMoreWrapper {
  width: 89.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.projectServingTheFromMakeParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xl);
}
.divcolumnInner,
.divcolumnInnerInner,
.projectServingTheFromMakeParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcolumnInnerInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-mid) 0 var(--padding-5xs-5);
  font-size: var(--font-size-lg);
  color: var(--color-silver);
  font-family: var(--font-roboto);
}
.divcolumnInner {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-12xl) var(--padding-3xl) var(--padding-13xl-5);
  gap: var(--gap-3xs-5);
  min-width: 270px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-red);
  font-family: var(--font-bebas-neue);
}
@media screen and (max-width: 1050px) {
  .heading4 {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }
}
@media screen and (max-width: 450px) {
  .outputLink {
    flex-wrap: wrap;
  }
  .heading4 {
    font-size: var(--font-size-lg);
    line-height: 19px;
  }
  .inputLink {
    gap: 59px 118px;
  }
  .divcolumnInner {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
}
